.jumbotron {
    background-image: url("../imgs/sevensamurai.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height:300px;
    position: relative;
  }
 

.navbarLogo {
    font-family: 'Creepster', cursive;
    font-size: 32px;
}

#scrollCard {
  color: white;
  overflow-y: auto;
  min-height: 225px;
  max-height: 225px;
  text-shadow: 1px 1px 2px white;
}

.buttonFonts {
    font-family: 'Creepster', cursive;
}
.carousel-inner {
  border-radius: 25px;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
}

.logoImg {
    height: 7rem;
}

.carousel {
  position : relative;
  }

.btnDiv {
    width: 100%;
    left: 0;
    bottom: 30px;
    position: absolute;
  }

.btnDiv2 {
    width: 100%;
    left: 0;
    bottom: 60px;
    position: absolute;
    margin-bottom: 10px;
  }

  #cardImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 130px;
    height: 120px;
  }

  .carousel-caption {
    background-color: rgb(19, 18, 18, 0.6);
    line-height: normal;
    width: 100%;
    left: 0;
    padding-top: 5px;
    bottom: -30px;
    position: absolute;
  }

  .carItem:before {
    -webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.carousel-inner > .carItem {
  height: 400px;
}

.carItem img{
width: auto;
  height: 400px;
  max-height: 400px;
}
  